{% extends 'base.html' %}
{% block page_title %}Listado de Residencias {% endblock %}
{% block navmenu %}{% endblock %}
{% block content %}
    <h1> Listado de Residencias - {{titulo}} </h1>
<br>
 <script type="text/javascript">
function imprSelec(muestra)
{var ficha=document.getElementById(muestra);var ventimp=window.open(' ','popimpr');ventimp.document.write(ficha.innerHTML);ventimp.document.close();ventimp.print();ventimp.close();}
</script>

  <div id='muestra' class="report_table" >
 <table class="report_table" border= 1>
  <tbody >
<tr>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">  Año de <br> comienzo </span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Especialidad</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Instituci&oacute;n</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Coordinador</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Jefe de Docencia</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Jefe de Servicio</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Jefe de Residentes</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Año 1</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Año 2</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Año 3</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Año 4</span></td>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Total</span></td>
</tr>
 {% for residencia in residencias %}
 <tr>
<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">{{residencia.a_Comienzo}} </span></td><td style="font-size:14px;text-align=center"> {{residencia.especialidad}}</td><td style="font-size:14px;text-align=center"> {{residencia.institucion}}</span></td><td style="font-size:14px;text-align=center">{{residencia.coordinador}}</td><td style="font-size:14px;text-align=center">{{residencia.getJefeDocencia}}</td><td style="font-size:14px;text-align=center">{{residencia.getJefeServicio}}</td><td style="font-size:14px;text-align=center">{{residencia.jefeResidentes}}</td><td style="font-size:14px;text-align=center">{{residencia.cantA_1}}</td><td style="font-size:14px;text-align=center">{{residencia.cantA_2}}</td><td style="font-size:14px;text-align=center">{{residencia.cantA_3}}</td><td style="font-size:14px;text-align=center">{{residencia.cantA_4}}</td><td style="font-size:14px;text-align=center">{{residencia.sumaCantA}}</td></tr> 
       {% endfor %}
            <tr><td>Total Residentes</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>{{ suma1.cantA_1__sum }}</td><td>{{ suma2.cantA_2__sum }}</td><td>{{ suma3.cantA_3__sum }}</td><td>{{ suma4.cantA_4__sum }}</td><td><b>{{ sumaResidentes }}</b></td> </tr>
            <tr><td>Total General</td><td></td><td></td><td></td><td></td><td></td><td></td><td>{{ sumaJefe.jefeResidentes__sum }}</td><td>{{ suma1.cantA_1__sum }}</td><td>{{ suma2.cantA_2__sum }}</td><td>{{ suma3.cantA_3__sum }}</td><td>{{ suma4.cantA_4__sum }}</td><td><b>{{ sumatotal }}</b></td> </tr>
        </tbody>
        </table>
</div>
  <script type="text/javascript">
<!--
window.print();
//-->
</script>
{% endblock %}
