{% extends 'base.html' %}
<style type="text/css">
#bottom_link{
 vertical-align: bottom;
}
  </style>
{% block page_title %}Lista de Residentes{% endblock %}
{% block navmenu %}{% endblock %}
{% block content %}
    <h1> Listado de Residentes</h1>
<br>
 



  <script type="text/javascript">
function imprSelec(muestra)
{var ficha=document.getElementById(muestra);var ventimp=window.open(' ','popimpr');ventimp.document.write(ficha.innerHTML);ventimp.document.close();ventimp.print();ventimp.close();}
</script>
<div id='muestra' class="report_table" >
   <table class="report_table" border= 1>
      
        <tbody >
 	{% for r in residencia %} 
			<tr><td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Cant. Residentes 1° Año</span></td><td style="font-size:14px;text-align=center">{{r.cantA_1}}</td>  </td><td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Cant. Residentes 2° Año</span></td><td style="font-size:14px;text-align=center">{{r.cantA_2}}</td></tr>
     		<tr><td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Cant. Residentes 3° Año</span></td>
     		<td style="font-size:14px;text-align=center">{{r.cantA_3}}</td>
     		<td style="background-color:#E6E6FA"><span style="font-size:16px;font-weight:bold">Cant. Residentes 4° Año</span></td><td style="font-size:14px;text-align=center">{{r.cantA_4}}</td></tr>
     {% endfor %} 
       </tbody>
        </table>
    
         {% if residentes %}
          <br><br>
          
    <table class="report_table" border= 1>
        <thead>
            <tr>
                <b><th>Nombre</th></b>
                <th>Apellido</th>
                <th>Año de Comienzo</th>
                 <th>Año Residencia</th>
            </tr>
        </thead>
        <tbody>
          <div style="font-size:18px; font-weight:bold;text-align=center"> {{residentes.0.getEspecialidad}}, {{residentes.0.getInstitucion}}, Año:           {{residentes.0.residencia}}</div>
					<tr><br>
					  {% for residente in residentes %} 
			              <td style="font-size:16px;text-align=center">{{ residente.nombre }}</td><td style="font-size:16px;text-align=center">{{ residente.apellido }}</td>
                        <td style="font-size:16px;text-align=center">{{ residente.residencia }}</td> 
                        <td style="font-size:16px;text-align=center">{% if residente.tipoR == 1  %} Residente 1° Año {% endif %}
                        {% if residente.tipoR == 2  %} Residente 2° Año {% endif %}
                        {% if residente.tipoR == 3  %} Residente 3° Año {% endif %}
                        {% if residente.tipoR == 4  %} Residente 4° Año {% endif %}
                        {% if residente.tipoR == 5  %} Jefe de Residentes {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                   </tr>
                 
            
        {% endif %}
        </tbody>
        </table>
        
        </div>
        <br><br>
		
			<div id="bottom_link">
			<br>   <p>
					<b> Atrás:</b> <a href="javascript:history.go(-1)">Volver </a>    </p>
			</div>
   <script type="text/javascript">
<!--
window.print();
//-->
</script>
{% endblock %}
 

